{% extends 'base.html' %}

{% block title %}Board - {{ page_title }} {% endblock %}

{% block content %}
<h1>Welcome to Sticky Notes</h1>

<p>Organize your thoughts and tasks efficiently with Sticky Notes. Log in to get started!</p>

<!-- list to display posts -->

<!-- if notes are in db -->
{% if notes %}
    <ul>
        <!-- list to go through notes  -->
        {% for note in notes %}
            <li>
                <h2><a href="{% url 'notes_detail' pk=note.pk %}">{{ note.title }}</a></h2>
                <p>{{ note.content }}</p>
                <p>User: {{ note.author }}</p>
                <p>Created: {{ note.created_at }}</p>
                <a href="{% url 'notes_update' note.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No notes available.</p>
{% endif %}
{% endblock %}
