{% extends 'base.html' %}
<!-- registration page -->
{% block title %}Board - {{ page_title }} {% endblock %}

{% block content %}
<!-- register page -->
<div class="form-container">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <!-- form to register  -->
        {{ author_form.as_p }}
        
        <!-- register button -->
        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'author_create' %}">Login</a></p>
</div>
{% endblock %}
